<h1>Here are your species</h1>

<ul>
  <% @species.each do |species| %>
  <li><a href="/species/<%= species.id %>"><%= species.name %></a></li>
  <% end %>




</ul>

  <h3><a href="/species/new">Add a new species</a></h3>
